th{
	color: #8A2BE2;
	background-color: #EED2EE;
	border-style: dotted; 
	border-width: 1px; 
	border-color: 660033; 
	font-family: verdana, arial; 
	font-size: 1em; 
}
table{
	padding-left: 23%;
	padding-top: 2%; 
}
#caixa{
	padding-left: 43%;
	padding-top: 12%; 
}
body{
	background-image: url("http://68.media.tumblr.com/1061954fcd7cb725dae4b956662e45f2/tumblr_inline_mnd91jqtzd1qz4rgp.gif");
}
td{
	background-color: #edf5ff;
	border-style: dotted; 
	border-width: 1px; 
	border-color: 660033; 
	font-family: verdana, arial; 
	font-size: 1em;  
}
#mens{
	color: red;
}